
body{
   font: 20px Arial, sans-serif;
}

.navbar{
	background-color: white;
}

#inicio{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/capa.jpeg');
    background-size: 100%;
	color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.ypora-continue {
	display: flex;
	align-items: center;/*horizontal*/
	justify-content: space-around;/*vertical*/
	flex-direction: column;
	width: 100%;
	min-height: 34rem;
	background-color: #4a5b16;
}

.group{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background: #4a5b16;
	width: 100%;
	padding: 1.34rem 0;
}

.group:nth-child[1]{
	min-height: 19rem;
}

.profile-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
}

.margin{
	padding-bottom: 50px;
	padding-top: 10px;
}


.col-lg-6{
	text-align: justify;
}

.bg-footer{
	background-color: #4a5b16 ;
	color: white;
}